@font-face{
    font-family:'namsanBL';
    src:url('../font/namsanBL.TTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Bold';
    src:url('../font/NOTOSANSCJKKR-BOLD.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Black';
    src:url('../font/NOTOSANSCJKKR-BLACK.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Demilight';
    src:url('../font/NOTOSANSCJKKR-DEMILIGHT.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Light';
    src:url('../font/NOTOSANSCJKKR-LIGHT.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Medium';
    src:url('../font/NOTOSANSCJKKR-MEDIUM.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Regular';
    src:url('../font/NOTOSANSCJKKR-REGULAR.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Thin';
    src:url('../font/NOTOSANSCJKKR-THIN.OTF');
}

.menu#productmenu{
    background: #707070;
}

.background{
    width:100%;
    height:570px;
    background-color: #f2f4fc;
    text-align: center;
    position: absolute;
}

.productphrase1{
    font-family: "Noto Sans CJK KR Bold";
    font-size:55px;
    margin-top: 40px;
}

.productphrase2{
    font-family: "Noto Sans CJK KR Light";
    font-size:25px;
}

.eco{
    width: 330px; height: 500px;
    border-radius: 10px;
    border: solid lightgray 1px;
    background-color: white;
    text-align: center;
    position: absolute;
    left: 400px;
    top: 340px;
    margin-bottom: 100px;
}

.basic{
    width: 330px; height: 570px;
    border-radius: 10px;
    border: solid lightgray 1px;
    background-color: white;
    text-align: center;
    position: absolute;
    left: 900px;
    top: 270px;
    margin-bottom: 100px;
}

.vip{
    width: 330px; height: 500px;
    border-radius: 10px;
    border: solid lightgray 1px;
    background-color: white;
    text-align: center;
    position: absolute;
    left: 1400px;
    top: 340px;
    margin-bottom: 100px;
}

.product_name{
    font-family: "Noto Sans CJK KR Bold";
    font-size: 35px;

}

.product_price{
    font-family: "Noto Sans CJK KR Regular";
    font-size: 40px;
    font-weight: lighter;
}

.selectbutton_eco{
     width:160px; height: 60px;
     background-image: url("../icon/productpage_selectbutton_off.png");
     background-size: 160px 60px;
     cursor: pointer;
     border: 0px;
     border-radius: 30px;
 }
.selectbutton_eco:hover{
    width:160px; height: 60px;
    background-image: url("../icon/productpage_selectbutton_on.png");
    background-size: 160px 60px;
    cursor: pointer;
}

.selectbutton_basic{
    width:160px; height: 60px;
    background-image: url("../icon/productpage_selectbutton2_off.png");
    background-size: 160px 60px;
    cursor: pointer;
    border: 0px;
    border-radius: 30px;
}
.selectbutton_basic:hover{
    width:160px; height: 60px;
    background-image: url("../icon/productpage_selectbutton2_on.png");
    background-size: 160px 60px;
    cursor: pointer;
}

.product_info{
    font-family: "Noto Sans CJK KR Light";
    font-size: 22px;
    padding: 10px;

}

#recomend_product{
    color: #ffee98;
    font-size: 22px;
    font-family: "Noto Sans CJK KR Bold";
    font-weight: bold;
    margin-top: 20px;
}

hr{
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: #ffee98;
    height:2px;
    border:0px;
    width: 275px;

}

