.menu#searchmenu{
    background: #707070;
}

.search_bar{
    margin-top: 150px;
    display:inline-block ;
    height: 60px;
    border: none;
    border-radius: 70px;
    background-color: #f1f1f1;

    font-family: "Noto Sans CJK KR Light";
    color: #707070;
    font-size: 25px;
    line-height: 60px;
    padding-left: 50px;
    padding-right : 100px;
}
.search_top{
    text-align: center;
}

.cancelbtn{
    margin-left: 20px;
    width : 20px; height: 20px;
}