@font-face{
    font-family:'namsanBL';
    src:url('../font/namsanBL.TTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Bold';
    src:url('../font/NOTOSANSCJKKR-BOLD.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Black';
    src:url('../font/NOTOSANSCJKKR-BLACK.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Demilight';
    src:url('../font/NOTOSANSCJKKR-DEMILIGHT.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Light';
    src:url('../font/NOTOSANSCJKKR-LIGHT.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Medium';
    src:url('../font/NOTOSANSCJKKR-MEDIUM.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Regular';
    src:url('../font/NOTOSANSCJKKR-REGULAR.OTF');
}
@font-face{
    font-family:'Noto Sans CJK KR Thin';
    src:url('../font/NOTOSANSCJKKR-THIN.OTF');
}

.menu#portfoliiomenu{
    background: #707070;
}

.top_phrase{
    width: 100%;
    text-align: center;
    font-family: "Noto Sans CJK KR Medium";
    font-size: 40px;
    margin-top: 50px;

}

@keyframes animatedBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0 100%;
    }
}

#template_box{
    margin: auto;
    margin-top: 50px;
    width: 1000px; height:600px;
    background-image: url("../icon/template1.png");
    background-size: 1000px auto;
    animation: animatedBackground 10s linear infinite alternate;
}

#backbtn{
     position: absolute;
     left: 200px; top: 550px;
     width: 70px; height:70px;
     background-image: url("../icon/selecttemplatepage_backbutton.png");
     background-color: white;
     background-size: 70px 70px;
     border: none;
 }

#nextbtn{
    position: absolute;
    right: 200px; top: 550px;
    width: 70px; height:70px;
    background-image: url("../icon/selecttemplatepage_nextbutton.png");
    background-color: white;
    background-size: 70px 70px;
    border: none;
}
